[submodule "src/main/native/packr/dropt"]
	path = src/main/native/packr/dropt
	url = https://github.com/jamesderlin/dropt
[submodule "src/main/native/packr/sajson"]
	path = src/main/native/packr/sajson
	url = https://github.com/chadaustin/sajson
